name: Gradle Build

on: [ push ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4.2.2

      - name: Set up JDK 21
        uses: actions/setup-java@v4.7.1
        with:
          java-version: '21'
          distribution: 'temurin'
          server-id: github
          settings-path: ${{ github.workspace }}

      - name: Build with Gradle (cached)
        uses: burrunan/gradle-cache-action@v3.0.1
        with:
          arguments: build
          gradle-version: wrapper
          properties: |
            kotlin.js.compiler=ir
            kotlin.parallel.tasks.in.project=true

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: '**/build/libs/*.jar'
          if-no-files-found: error
